// 커스텀 테마 선언
$background: #292841;
$discord: #5662F6;
$primary: #481F81;
$secondary: #FF86BB;
$info: #60C8F0;
$success: #24B06F;
$warning: #F0C647;
$danger: #F35766;

// bootstrap 임포트
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// 폰트 임포트

@import url('https://fonts.googleapis.com/css2?family=League+Gothic:wdth@75..100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=League+Gothic:wdth@75..100&display=swap');

body {
    background: $dark;
    font-family: "IBM Plex Sans KR", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    // overflow: hidden;
} 

.eng-font {
    font-family: "League Gothic", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 90;
}

.background {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.title {
    font-size: 64px;
}

header {
    height: 60px;
    background-color: $background;
}

.logo-icon {
    height: 32px;
}

// 로그인, 회원가입 css

.login {
    background-color: #0000005f;
    width: 320px;
    height: calc(100% - 92px);
}

.login h1 {
    font-weight: 600;
}

.login button {
    width: 100%;
}