// 커스텀 테마 선언
$background: #292841;
$discord: #5662F6;
$primary: #481F81;
$secondary: #FF86BB;
$info: #60C8F0;
$success: #24B06F;
$warning: #F0C647;
$danger: #F35766;
$light: #e3eef7;

// bootstrap 임포트
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// 폰트 임포트

@import url('https://fonts.googleapis.com/css2?family=League+Gothic:wdth@75..100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=League+Gothic:wdth@75..100&display=swap');

body {
    background: $dark;
    font-family: "IBM Plex Sans KR", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    // overflow: hidden;
} 

.eng-font {
    font-family: "League Gothic", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 90;
}

.background {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.title {
    font-size: 64px;
}

header {
    height: 60px;
    background-color: $background;
}

.logo-icon {
    height: 32px;
}

// 팀 컬러 선언
.team {
    &-T1 {
        background-color: #e2012d;
    };

    &-GEN {
        background-color: #aa8a00;
    };

    &-HLE {
        background-color: #ff6b01;
    };

    &-DK {
        background-color: #28cabd;
    };

    &-KT {
        background-color: #92122f;
    };

    &-DNF {
        background-color: #0C50F1;
    };

    &-BFX {
        background-color: #d8c926;
    };

    &-NS {
        background-color: #cb4033;
    };

    &-DRX {
        background-color: #1102A3;
    };

    &-BRO {
        background-color: #00492B;
    }
}

// 로그인, 회원가입 css

.login {
    background-color: #0000005f;
    width: 320px;
    height: calc(100% - 92px);
}

.login h1 {
    font-weight: 600;
}

.login button {
    width: 100%;
}

// 선수 검색 css

.list {
    width: 310px;
}

.list img {
    width: 30px;
}

.list .players {
    font-size: 28px;
}

.wrapper button {
    width: 310px;
}

.detail {
    width: calc(100% - 334px);
    min-width: 620px;
}

.detail h1 {
    font-size: 90px;
}

.detail-title .position {
    width: 55px;
}

.detail-title .team {
    height: 50px;
}

.detail-content img {
    width: 260px;
    background-color: #481f8150;
}