// 커스텀 테마 선언
$primary: #5f22b5;
$secondary: #D48DF2;
$info: #60C8F0;
$success: #24B06F;
$warning: #F0C647;
$danger: #F35766;

// bootstrap 임포트
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import url('https://fonts.googleapis.com/css2?family=League+Gothic:wdth@75..100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=League+Gothic:wdth@75..100&display=swap');

body {
    background: $gray-900;
    font-family: "IBM Plex Sans KR", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    overflow: hidden;
} 

.eng-font {
    font-family: "League Gothic", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 90;
}

.background {
    background-image: url(../img/main-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.title {
    font-size: 64px;
}

// 로그인, 회원가입 페이지 css

.login {
    max-width: 500px; 
    background: $dark;
    border-radius: 18px;
}

.login form .form-control {
    background: transparent;
    color: white;
}

.login .title {
    color: $pink-300;
}

.login img {
    width: 50px;
}

.login button {
    width: 100%;
    color: whitesmoke;
}