<div class="list m-2 bg-light rounded">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/list/TOP">
                <img src="/img/top.svg" alt="">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/list/JGL">
                <img src="/img/jgl.svg" alt="">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/list/MID">
                <img src="/img/mid.svg" alt="">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/list/BOT">
                <img src="/img/bot.svg" alt="">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/list/SPT">
                <img src="/img/spt.svg" alt="">
            </a>
        </li>
    </ul>
</div>