.container {
    width: 100%;
    height: 100vh;
}

.header {
    width: 100%;
    height: 10%;
    background: aquamarine;
}

.sidebar {
    width: 10%;
    height: 80%;
    background: cornflowerblue;
    float: left;
}

.content {
    width: 90%;
    height: 80%;
    background: coral;
    float: right;
}

.footer {
    width: 100%;
    height: 10%;
    background: darkseagreen;
    clear: both;
}