@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css');

html {
	font-family: 'Pretendard Variable', Pretendard, -apple-system,
        BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
		'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}
body {
    background-image: url(https://url.kr/kz4oas);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}
.Form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Box {
    min-width: 600px;
    min-height: 500px;
    
    border: 1px solid #FFFFFF;
    border-radius: 30px;

    background: #FFFFFF4D;
    backdrop-filter: blur(20px);
    box-shadow: 4px 4px 20px 0px #00000080;
}
.FEL {
    margin-top: 55px;
    margin-left: 100px;
    margin-bottom: 36px;

    width: 398px;
    height: 77px;

    font-family: "League Gothic", serif;
    font-size: 64px;
    font-weight: 400;

    color: #FFFFFF;
    
    line-height: 76.8px;
    text-align: center;
    text-underline-position : from-font;
}
.IDPW {
    margin-left: 75px;
    margin-bottom: 13px;

    font-family: "Pretendard";
    font-size: 24px;
    font-weight: 300;
    
    padding-left: 30px;

    color: #FFFFFF;

    width: 420px;
    height: 50px;

    border: 1px solid #FFFFFF;
    border-radius: 50px;

    background-color: transparent;
}
input::placeholder {
    color: #FFFFFF;
}
.LogIn {
    margin-top: 5px;
    margin-left: 75px;
    margin-bottom: 36px;

    width: 450px;
    height: 60px;

    border: none;
    border-radius: 50px;

    background-color: #E37EF3;

    font-family: "Pretendard";
    font-size: 24px;
    font-weight: 600;

    color: #000000;
}
.Ask {
    font-family: "Pretendard";
    font-size: 24px;
    font-weight: 300;
    line-height: 28.64px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: #FFFFFF;
}
.SignUp {
    font-weight: 600;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;

    color: #F61C90
}